*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    justify-content: flex-start;
    align-items: flex-start;
    /* justify-items: center; */

}

.box {
    min-height: 100px;
    /* flex-basis: 200px; */
}
.header {
    background-color: blueviolet;
    width: 100px;
}

.menu{
    background-color: violet;
    width:calc(100% - 100px) ;
    height: 200px;
    /* flex-shrink: 1; */
    /* align-items: calc(100vh - 100px); */
}

.body {
    background-color: tomato;
    height: calc(100% - 100px);
}

.footer {
    background-color: springgreen;
    width: 100%;
    height: 200px;
    /* height: calc(100% - 100px); */
}


