body{
    margin: 0;
}

.header {
    background-color: aqua;
    float: left;
    height: 100px;
    width: calc(100% - 200px);
}

.menu {
    background-color: blue;
    float: right;
    height: 200px;
    width: 200px;

    
}

.body {
    background-color: coral;
    float: left;
    width: calc(100% - 200px);
    height: 100px;
    
}

.footer {
    background-color: darkmagenta;
    float: left;
    width: 100%;
    height: calc(100vh - 200px );
}