body {
    margin: 0;

}
/* header{
    background-color: blue;
    position: absolute;
    left:200px ;
    width: calc(100% - 200px);
    height: 200px;
}
menu {
    margin: 0;
    background-color: rgb(196, 50, 184);
    height: 400px;
    width: 200px;
    box-sizing: border-box;
}
.body {
    background-color: rgb(52, 185, 108);
    position: absolute;
    left: 200px;
    top: 200px;
    height: 200px;
    width: calc(100vw - 200px );
    overflow-y: auto;
}

.footer {
    background-color: rgb(207, 171, 41);
    height: calc(100vh - 400px);
} */
header{
    position: absolute;
    background-color: aqua;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 100px;
}

menu{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 176);
    height: 300px;
    width: 200px;
}

.body{
    position: absolute;
    background-color: rgb(192, 40, 116);
    left: 200px;
    top : 100px;
    width: calc(100% - 200px);
    height: 200px;
}

.footer {
    height: calc(100vh - 300px);
    background-color: rgb(210, 18, 88); 
}